.b-1 .wrap {
	padding: 30px 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: calc(100vh - 140px);
}
.b-1 .wrap .image {
	width: calc(50% - 15px);
}
.b-1 .wrap .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-1 .wrap .text {
	text-align: left;
	width: calc(50% - 15px);
}
.b-1 .wrap .subtitle {
	display: block;
	font-weight: 500;
	margin-top: 50px;
	font-size: 18px;
	line-height: 1.2;
	color: rgb(121, 119, 119);
	margin-bottom: 10px;
}
.b-1 .wrap p, .b-1 .wrap ul li {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 10px;
}
.b-1 .wrap p:last-child, .b-1 .wrap ul li:last-child {
	margin-bottom: 0;
}
.b-1 .wrap p a, .b-1 .wrap ul li a {
	color: #33b4b1;
}




@media screen and (max-width: 768px){
	.b-1 .wrap .image {
		width: 100%;
		margin-bottom: 20px;
	}
	.b-1 .wrap .text {
		width: 100%;
		text-align: center;
	}
	.b-1 .wrap .subtitle {
		margin-top: 20px;
		font-size: 14px;
	}
	.b-1 .wrap p, .b-1 .wrap ul li {
		font-size: 12px;
	}
}