.b-1 .wrap {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../i/rez-kr.jpg');
	padding: 65px 70px;
	position: relative;
}
.back-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.back-slider .slick-track, .back-slider .slick-list {
	height: 100%;
}
.back-slide {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.b-1 .content {
	position: relative;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	max-width: 630px;
	padding: 35px 18px;
}
.b-1 .b-title {
	color: #ffffff;
}
.b-1 .line {
	margin: 15px auto 25px;
	background-color: rgb(204, 204, 204);
	max-width: 116px;
	height: 3px;
	width: 100%;
}
.b-1 p {
	display: block;
	max-width: 520px;
	margin: 0 auto 40px;
	font-size: 16px;
	line-height: 1.2;
	color: #ffffff;
	text-align: left;
}
.b-1-list {
	max-width: 520px;
	margin: 0 auto 40px;
}
.b-1-list li {
	position: relative;
	padding-left: 20px;
	font-size: 16px;
	text-align: left;
	line-height: 1.2;
	color: #ffffff;
	margin-bottom: 10px;
}
.b-1-list li:last-child {
	margin-bottom: 0;
}
.b-1-list li:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 5px;
	border-radius: 50%;
	background-color: rgb(51, 180, 177);
}
.b-1 .content-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	max-width: 520px;
	margin: 0 auto;
}
.b-1 .b-btn {
	max-width: 250px;
	padding: 17px 10px;
}
.b-1 .btn {
	display: block;
	width: 100%;
	max-width: 250px;
	padding: 16px 10px;
	font-weight: 500;
	color: #ffffff;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	text-align: center;
}
.b-1 .btn:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.b-2 {
	padding: 60px 0 30px;
}
.b-2-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 50px;
}
.b-2-list li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(50% - 15px);
	padding-left: 70px;
	margin-bottom: 30px;
	text-align: left;
}
.b-2-list li .icon {
	position: relative;
	width: 70px;
	height: 70px;
	background-color: rgb(244, 244, 244);
	border-radius: 50%;
}
.b-2-list li .icon img {
	display: block;
	max-width: 33px;
	max-height: 33px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-2-list li .text {
	width: calc(100% - 100px);
}
.b-2-list li .title {
	display: block;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 10px;
}
.b-2-list li .title span {
	font-weight: 700;
	color: #f91155;
}
.b-2-list li .text p {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
}

.b-3 {
	padding: 30px 0;
}
.b-3-slider {
	margin: 40px auto 0;
	position: relative;
	padding: 0 50px;
	width: 100%;
}
.b-3-slider .slick-arrow {
	position: absolute;
	z-index: 10;
	background-color: rgb(226, 226, 226);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: calc(50% - 45px);
	font-size: 0;
	border: 0;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3-slider .slick-arrow:hover {
	-wbkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.b-3-slider .slick-arrow:before {
	content: '';
	display: block;
	width: 22px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 8px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3-slider .slick-arrow:hover:before {
	-wbkit-transform: scale(0.83);
	-moz-transform: scale(0.83);
	-ms-transform: scale(0.83);
	transform: scale(0.83);
}
.b-3-slider .slick-next {
	right: 0;
}
.b-3-slider .slick-next:before {
	background-image: url('../i/next-2.png');
}
.b-3-slider .slick-prev {
	left: 0;
}
.b-3-slider .slick-prev:before {
	background-image: url('../i/prev-2.png');
}
.b-3-slide {
	margin: 0 30px;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 3px;
}
.b-3-slide .image {
	position: relative;
	height: 200px;
	background-image: -moz-linear-gradient( 167deg, rgb(199,199,204) 0%, rgb(240,241,246) 100%);
	background-image: -webkit-linear-gradient( 167deg, rgb(199,199,204) 0%, rgb(240,241,246) 100%);
	background-image: -ms-linear-gradient( 167deg, rgb(199,199,204) 0%, rgb(240,241,246) 100%);
}
.b-3-slide .image img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-3-slide .text {
	padding: 25px 15px 15px;
}
.b-3-slide .title {
	display: block;
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 25px;
}
.b-3-slide .text ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-3-slide .text ul li {
	display: block;
	text-align: left;
	width: calc(50% - 5px);
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 10px;
}
.b-3-slide .text ul li:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 3px;
	background-color: rgb(51, 180, 177);
	border-radius: 50%;
}





@media screen and (max-width: 1280px){
	.b-2-list li {
		padding-left: 0;
	}
}
@media screen and (max-width: 1080px){
	.b-3-slide {
		margin: 0 15px;
	}
}
@media screen and (max-width: 920px){
	.b-3-slide .text ul {
		display: block;
	}
	.b-3-slide .text ul li {
		width: 100%;
	}
}
@media screen and (max-width: 768px){
	.b-1 .wrap {
		padding: 10px;
	}
	.b-1 .content {
		padding: 20px 10px;
		margin: 0 auto;
	}
	.b-1 .line {
		margin: 10px auto 20px;
	}
	.b-1-list {
		margin: 0 auto 20px;
	}
	.b-1-list li {
		font-size: 14px;
		margin-bottom: 6px;
		padding-left: 15px;
	}
	.b-1-list li:before {
		width: 6px;
		height: 6px;
	}
	.b-1 .content-flex {
		display: block;
		text-align: center;
	}
	.b-1 .b-btn {
		margin: 0 auto 10px;
	}
	.b-1 .btn {
		margin: 0 auto;
	}
	.b-2 {
		padding: 30px 0 15px;
	}
	.b-2-list {
		display: block;
		margin-top: 20px;
	}
	.b-2-list li {
		width: 100%;
		margin-bottom: 15px;
	}
	.b-2-list li .icon {
		width: 50px;
		height: 50px;
	}
	.b-2-list li .icon img {
		max-width: 22px;
		max-height: 22px;
	}
	.b-2-list li .text {
		width: calc(100% - 60px);
	}
	.b-2-list li .title {
		font-size: 16px;
		margin-bottom: 8px;
	}
	.b-2-list li .text p {
		font-size: 12px;
	}
	.b-3-slider {
		margin-top: 20px;
		padding: 0 40px;
	}
	.b-3-slider .slick-arrow {
		width: 30px;
		height: 30px;
		top: calc(50% - 15px);
	}
	.b-3-slide {
		margin: 0;
	}
	.b-3-slide .image {
		height: 150px;
	}
	.b-3-slide .text {
		padding: 15px 10px 5px;
	}
	.b-3-slide .title {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.b-3-slide .text ul {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.b-3-slide .text ul li {
		width: calc(50% - 5px);
		font-size: 12px;
		padding-left: 15px;
	}
	.b-3-slide .text ul li:before {
		width: 6px;
		height: 6px;
	}
}
@media screen and (max-width: 450px){
	.b-3-slide .text ul {
		display: block;
	}
	.b-3-slide .text ul li {
		width: 100%;
	}
}